---
import education from "../collections/education.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Qualifications">
  <section class="relative z-20 max-w-2xl mx-auto my-6 px-7 lg:px-0">
    <PageHeading
      title="Qualifications"
    />
    <div class="px-5 py-10">
      {
        education.map((e) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
               <AboutExperience
                dates={e.dates}
                role={e.degree}
                company={e.insitute}
                description={e.description}
                subDescriptions={e.subDescriptions}
                logo={e.logo}
              />
            </div>
          )
        })
      }
    </div>
  </section>
</Layout>
